*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generales */
body{
    font-family: 'Poppins', sans-serif;
}

.map{
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 18%;
}

.map p {
    margin-left: 25%;
    margin-bottom: 2%;
}

.bodyContacto{
    background-color: rgb(153, 152, 152);
}

.headerCon{
    background-color: white;
}

.logo-nav{
    height: 2em;
}

header{
    width: 100vw;
}

header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

ul li a{
    color: black;
    text-decoration: none;
}

.fr img{
    margin-right: 1em;
}

.mensajeHeader{
    height: 25em;
    width: 100vw;
    background-image: url(../imgs/header.jpg);
    padding-top: 5em;
}

main{
    padding-top: 2em;
    padding-bottom: 1em;
}

div h4 strong{
    font-weight: 300;
}

div iframe{
    width: 56em;
    height: 28em;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.tanques{
    height: 14em;
    width: 35em;
    background-image: url(../imgs/tanques.png);
}

.tanques h2{
    color: white;
}

.tanques p{
    width: 50%;
}

.pallets{
    height: 14em;
    width: 35em;
    background-image: url(../imgs/pallets.png)
}

.pallets p{
    width: 50%;
}

.pallets h2{
    color: black;
}

.contenedores {
    height: 14em;
    width: 35em;
    background-image: url(../imgs/contenedores.png)
}

.contenedores p{
    width: 50%;
    color: white;
}

.contenedores h2{
    color: white;
}

.juegosInfantiles{
    height: 14em;
    width: 35em;
    background-image: url(../imgs/juegos.png)
}

.juegosInfantiles p{
    width: 50%;
}

.juegosInfantiles h2{
    color: black;
}

.cobertores{
    height: 14em;
    width: 35em;
    background-image: url(../imgs/cobertores.png)
}

.cobertores h2{
    color: white;
}

.cobertores p{
    width: 50%;
}

.otrosProductos{
    height: 14em;
    width: 35em;
    background-image: url(../imgs/otros.png)
}

.otrosProductos p{
    width: 50%;
}

.otrosProductos h2{
    color: black;
}

footer{
    background-color: #4b9f2d;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 1em;
}

.iconos{
    display: flex;
    flex-direction: column;
}

.iconosRedes{
    padding-top: 1em; padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.iconos, .telefonos, .correos{
    padding-top: 2em;
}

.map p{
    font-size: 1.5em;
}
strong{
    font-weight: bold;
}

.logoFooter{
    width: 15em;
}

div a {
    color: black;
}

.formulario{
    width: 70%;
    padding: 7em;
    margin-left: 10em;
}

table{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

tr td{
    padding: 1em;
}


/*Mobile*/
@media screen and (max-width: 640px){

    nav{
        display: flex;
        flex-direction: row;
    }

    .logo-nav{
        width: 7em;
        height: auto;
    }

    ul li a{
        size: 1em;
    }

    .sloganBox{
        background-color: black;
        opacity: 70%;
    }

    .slogan{
        color: white;
        font-size: 1.5em;
    }
    
    .fr{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 2em;
        grid-template-areas:
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "foto5"
        "foto6";
    }

    .tanques{
        grid-area: foto1;
    }

    .pallets{
        grid-area: foto2;
    }

    .contenedores{
        grid-area: foto3;
    }

    .juegosInfantiles{
        grid-area: foto4;
    }

    .cobertores{
        grid-area: foto5;
    }

    .otrosProductos{
        grid-area: foto6;
    }

    div iframe{
        width: 35em;
        height: 20em;
    }

    .logoFooter{
        width: 10em;
    }

    .telefonos h3, .correos h3{
        font-size: 1.2em;
    }
}

/*Tablet*/

@media screen and (min-width: 640px) and (max-width: 1280px) {

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 2em;
        column-gap: 2em;
        grid-template-areas:
        "foto1 foto2"
        "foto3 foto4"
        "foto5 foto6";
    }

    .tanques{
        grid-area: foto1;
    }

    .pallets{
        grid-area: foto2;
    }

    .contenedores{
        grid-area: foto3;
    }

    .juegosInfantiles{
        grid-area: foto4;
    }

    .cobertores{
        grid-area: foto5;
    }

    .otrosProductos{
        grid-area: foto6;
    }
}

/*Desktop*/
@media screen and (min-width: 1280px){
    ul{
        padding-left: 40em;
    }

    ul li{
        padding-left: 2em;
    }

    header nav{
        padding-left: 3em;
    }

    .sloganBox{
        background-color: black;
        opacity: 60%;
        width: 45%;
        padding-right: 2em;
        margin-left: 45em;
    }

    .slogan{
        color: white;
        font-size: 2em;
        font-weight: bolder;
        font-family: 'Exo', sans-serif;
        text-align: right;
    }

    .frases{
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 6em;
        padding-bottom: 6em;
    }

    .fr{
        display: flex;
        flex-direction: row;
        width: 25%;
    }

    .fr p{
        font-size: large;
        padding-top: 0.5em;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 2em;
        column-gap: 2em;
        grid-template-areas:
        "foto1 foto2"
        "foto3 foto4"
        "foto5 foto6";
    }

    .tanques{
        grid-area: foto1;
    }

    .pallets{
        grid-area: foto2;
    }

    .contenedores{
        grid-area: foto3;
    }

    .juegosInfantiles{
        grid-area: foto4;
    }

    .cobertores{
        grid-area: foto5;
    }

    .otrosProductos{
        grid-area: foto6;
    }

    .telefonos{
        padding-left: 17em;
        margin-right: 10em;
    }
}